<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="righter" class="fed-main-right fed-col-xs12 fed-col-md3"
     style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">

    <div class="theiaStickySidebar"
         style="padding-top: 1px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 1052.1px;">
        <div class="fed-side-info fed-part-layout fed-back-whits fed-hide-xs fed-hide-sm fed-show-md-block">
            <div class="fed-side-list fed-text-center">
                <h2 class="fed-list-head fed-part-rows fed-font-xvi fed-text-center">扫描二维码手机看大片</h2>
                <div class="fed-side-code"><img class="fed-side-image fed-hide" src="/favicon.png">
                    <canvas width="200" height="200"></canvas>
                </div>
                <p class="fed-text-center">也可以分享到朋友圈哦</p>
            </div>
            <div class="fed-side-list fed-list-info fed-line-top fed-list-rank fed-part-rows">
                <h2 class="fed-list-head fed-part-rows fed-font-xvi">本周热门国产剧<a
                        class="fed-part-tips fed-font-xiv" href="/index.php/label/rank.html">更多</a></h2>
                <ul class="fed-part-rows">
                    <li class="fed-part-eone">
                        <a href="">
                            <span class="fed-part-nums fed-part-num1">1</span>
                            名字
                            <span class="fed-part-tips fed-text-green">热度</span>
                        </a>
                    </li>
                    <li class="fed-part-eone">
                        <a href="">
                            <span class="fed-part-nums fed-part-num2">2</span>
                            名字
                            <span class="fed-part-tips fed-text-green">热度</span>
                        </a>
                    </li>
                    <li class="fed-part-eone">
                        <a href="">
                            <span class="fed-part-nums fed-part-num3">3</span>
                            名字
                            <span class="fed-part-tips fed-text-green">热度</span>
                        </a>
                    </li>
                    <li class="fed-part-eone">
                        <a href="">
                            <span class="fed-part-nums fed-part-num4">4</span>
                            名字
                            <span class="fed-part-tips fed-text-green">热度</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="resize-sensor"
             style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; z-index: -1; visibility: hidden;">
            <div class="resize-sensor-expand"
                 style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                <div style="position: absolute; left: 0px; top: 0px; transition: 0s; width: 303px; height: 724px;"></div>
            </div>
            <div class="resize-sensor-shrink"
                 style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;">
                <div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div>
            </div>
        </div>
    </div>
</div>
</html>